---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import Layout from "~/layouts/LayoutMd.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const metadata = {
  title: t("support.title"),
  description: t("support.description"),
};
---

<Layout metadata={metadata}>
  <div class="container max-w-xl font-bricolage">
    <h2 class="mt-0 font-bold md:text-2xl">
      <span
        class="gradient-text text-balance font-extrabold text-2xl md:text-4xl"
        >👋 {t("support.title")}</span
      >
    </h2>
    <p class="md:text-base">
      {t("support.description")}
    </p>

    <form action="" class="space-y-2 md:space-y-4">
      <div class="flex flex-col gap-2 md:flex-row">
        <input type="text" placeholder={t("support.name")} />
        <input type="email" placeholder={t("support.email")} />
      </div>
      <textarea name="" id="" rows="4" placeholder={t("support.message")}
      ></textarea>
      <button class="w-full rounded-lg bg-black py-3 text-center text-white"
        >{t("support.submit")}</button
      >
    </form>
  </div>
</Layout>

<style>
  input,
  textarea {
    @apply w-full rounded-lg border-none bg-offset px-4 py-3 text-default shadow-red-500 outline-none;
    &:focus-visible {
      box-shadow: 0 0 0 1px;
    }
  }
</style>
